@media only screen and (min-width: 100px) and (max-width: 768px) {
  .header {
    height: 200px;
  }
  .game-title {
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .Between {
    font-size: 25px;
  }
  .main {
    padding: 60px 0px 20px;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .input-area {
    width: 100%;
  }
  .input-area label {
    font-size: 18px;
  }
  .input-box {
    width: 200px;
    font-size: 3rem;
  }
  .btn {
    padding: 15px 15px;
    margin-bottom: 30px;
    font-size: 18px;
  }
  .Score-area {
    width: 100%;
  }
  .Score-area h1 {
    font-size: 20px;
  }
  .footer {
    padding: 10px 0px;
  }
  .againg {
    font-size: 20px;
    padding: 15px 20px;
  }
  .end-text {
    text-align: center;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1140px) {
  .game-title {
    font-size: 25px;
  }
  .Score-area h1 {
    font-size: 15px;
  }
  .input-area label {
    font-size: 15px;
  }
}
